# Gradle files
.gradle/
build/
gradle-app.setting

# IDE files
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
bin/
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Java compiled classes
*.class

