<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoApp - Login</title>
</head>
<body>
    <br><br>
    
    <!-- Login Form -->
    <div style="border: 1px solid #4CAF50; padding: 10px; margin-bottom: 10px;">
        <h3>Login</h3>
        <form method="POST" th:action="@{/login}">
            <fieldset>
                <legend>Login</legend>
                <div th:if="${message}" style="color: red;">
                    <b th:text="${message}"></b>
                    <br><br>
                </div>
                <label for="username2">Username:</label>
                <br>
                <input name="username" id="username2" type="text" required/>
                <br><br>
                <label for="password2">Password:</label>
                <br>
                <input name="password" id="password2" type="password" required/>
                <br><br>
                <input name="login" type="submit" value="Login"/>
            </fieldset>
        </form>
    </div>
</body>
</html>
